<h1>Here are all of <%=@user.username()%> friends.</h1>



<ul>
  <%@user.profiles().each do |profile|%>
  <li><a href="/profile/<%= profile.id()%>/user/<%= @user.id()%>"><%= profile.username()%></a></li>

  <%end%>
</ul>
