
<div class="site-wrapper login">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <a href="/"><h1 class="create">your profilehas been saved.</h1></a>
      </div>
    </div>
  </div>
</div>
