.login{
  background-image: url("http://i.imgur.com/eXGzhUn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%
}

input{
  background: none;
  border: none;
  border-bottom: 2px solid gray;
}

.loginButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline: none;
  border: 2px dotted gray;
  width: 200px;
}
.loginButton:hover {
  color: none;
  background: none;
  border: 2px solid gray;
  /*Here can be more styling*/
}

#profileImage{
  width:10%;

  border: 4px solid white;
  border-radius: 20px;
}
